body{
   font: 30px/ 2 Helvetica bold, arial;
   padding:0;
   margin:0;
   background-color:#ffffff;
}

  /* Global */
  .container{
    width: 80%;
    margin:auto;
    overflow:hidden;
  } 
  
  header ul{
    margin:0;
    padding:0;
  
  }
  
  .dark{
    padding:15px;
    background:#f90202;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
    
  }
  
  /* Header **/
  header{
    background:#35424a;
    color:#f90202;
    padding-top:15px;
    min-height:70px;
    border-bottom:#0259f9 3px solid;
  }
  
  header a{
    color:#0259f9;
    text-decoration: non;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
    
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  } 
  
  header .highlight, header .cureent a{
    color:#a9afba;
    font-weight:bold;
  }
  
  header a:hover{
    color:#a9afba;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:400px;
    background:url('../img/showcase5.jpg');
    
    text-align:center;
    color:#f90202;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    color:#ffffff;
    font-size:25px;
    font-weight:bold;
  }
  
  /* Boxes */
  #boxes{
    margin-top:20px;
  }

  #boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
  
  }  
  
  #boxes .box img{
    width:250px;
  }
  
  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Portfolio */
  ul#portfolio li{
    list-style:name;
    padding:20px;
    border:20px;
  }
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#000000;
    background-color:#35424a;
    text-align: center;
  }
  
  